<div tabindex="0" id="nav-trigger" class="nav-trigger open">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>
<nav id="main-nav" class>
    <ul>
        <li>
            <h3 class="center">Menu</h3>
        </li>
        <!-- {% for post in site.static_files %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %} -->
        <li><a href="../about/">What is Silence?</a></li>
        <li><a href="../events/#main">Events</a></li>
        <li><a href="../space/#main">About the space</a></li>
    </ul>
</nav>
